@font-face {
  font-family: Google-sans;
  src: url(/assets/Google_Sans/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}

body {
  background-color: #fafafa;
  height: 100%;
  margin: 28px;
  font-family: Google-sans;
}

h1 {
  text-align: center;
}

h4 {
  font-family: Google-sans;
  text-align: center;
  padding: 10px;
}

/* header */

header {
  margin-top: 8px;
  padding: 8px;
 
}
section{
  display: flex;
  flex-direction: column;
  gap:5px;
  margin-top: 8px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
}
article{
  width: 360px;
  background-color: #a0a0a0e8;
  margin-top: 8px;
  align-content: center;
  text-align: center;
  padding: 8px;
  height: 120px;
  border-radius: 8px;
  color: white;
}

article:hover{
  opacity: 0.8;
}


