*{
margin: 0px;
padding: 10px;
}

body {
  background-color: #fafafa;
}

h1{
  font-family: Helvetica, sans-serif;
  padding: 20px;
  text-align: center;

}

.conteiner{
  background: linear-gradient(to right, #406a82,  #2f85b7 );
  width: 500px;
  padding: 20px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.box{
  background: radial-gradient(circle, #8cacbf,  #0f5e8b );
  width: 80%;
  padding: 20px;
  height: 50%;
  margin: 20px;
  border-radius: 10px;

}